* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 77px;
    margin-top: -7px;
}

img {
    max-width: 100%;
    height: auto;
}

.btns {
    background-color: #478ac9;
    font-size: 13px;
    padding: 10px 25px;
    border: none;
    color: white;
    font-weight: 700;
}

.btns:hover {
    background-color: #7eadd9;
}

.contato-input {
    background-color: rgb(255, 255, 255, 0.9) !important;
    max-width: 500px;
    margin: 10px;
    border: 2px solid #478ac9 !important;
}

/* HEADER - SOCIAL MEDIAS AND PHONE */

.social-medias {
    /* text-align: center; */
    height: 25px;
    width: 100%;
    background-color: rgb(190, 190, 190, 0.7);
}

#phone-mail {
    float: left;
}

#phone-mail label {
    font-size: 16px;
    color: black;
}

#phone-mail i {
    color: rgb(0, 0, 0, 0.7);
}

.social-medias ul {
    float: right;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-right: 30px;
}

.social-medias ul li {
    margin-left: 30px;
}

.social-medias a {
    color: rgb(0, 0, 0, 0.7);
}

.social-medias a:hover {
    color: #0080DE;
    transition: 400ms;
    background: none !important;
}

/* HEADER - MENU */

.logo {
    margin-left: 100px;
}

.logo img {
    width: 105px;
}

#logoid:hover {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 20%);
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    /* background: rgb(24, 26, 34); */
    background: linear-gradient(180deg, rgba(24, 26, 34, 1) 0%, rgba(89, 89, 89, 1) 100%);
    height: 80px;
    width: 100%;
    text-decoration: none;
    z-index: 1;
}

nav ul {
    float: right;
    margin-right: 60px;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0;
}

nav ul li a {
    color: rgb(169, 169, 169);
    font-weight: 500;
    font-size: 20px;
    padding: 5px 13px;
    text-decoration: none;
    background: linear-gradient(180deg, rgba(24, 26, 34, 1) 0%, rgba(89, 89, 89, 1) 100%);
}

a:hover {
    color: white;
    transition: 400ms;
    background: linear-gradient(180deg, rgba(24, 26, 34, 1) 0%, rgba(89, 89, 89, 1) 100%);
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none !important;
}

.checkbtn {
    display: none !important;
}

/* BODY */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.6fr 0.5fr 0.9fr 0.5fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "section1-grid" "section2-grid" "section3-grid" "section4-grid" "section5-grid" "section6-grid";
}

.section1-grid {
    grid-area: section1-grid;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/justitia-2597016_1920.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    max-height: 1123px;
}

.section1-grid h1 {
    margin: 150px 0px 0 0;
    font-size: 96px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: white;
    /* text-shadow: 1px 1px 2px rgba(150, 150, 150, 1); */
}

.section1-grid h4 {
    margin: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.section1-grid h6 {
    color: white;
    font-size: 22px;
}

.section1-grid button {
    margin: 30px;
}

#buttonDiff {
    margin-top: 100px;
    background-color: #C3EBFF;
    font-size: 13px;
    padding: 10px 25px;
    border: none;
    color: black;
    font-weight: 400;
}

#buttonDiff:hover {
    background-color: #7eadd9;
}

.section2-grid {
    grid-area: section2-grid;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 1px 1px;
    grid-template-areas: "section2-pic section2-info";
    margin: 50px;
    margin-bottom: 0px;
}

.section2-info {
    grid-area: section2-info;
    margin: 20px;
}

.section2-info h1 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.section2-info p {
    text-align: justify;
    line-height: 2;
}

.section2-pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-area: section2-pic;
}

.section2pic-picture {
    grid-area: 3 / 2 / 9 / 8;
}

.section2pic-picBack {
    grid-area: 2 / 3 / 8 / 9;
    background-color: #D5D8DC;
    z-index: -100;
}

/* Slideshow container */

.section2Slide {
    position: relative;
    min-height: 350px;
    /* background-color: green; */
}

.sld {
    display: none;
    padding: 10px;
    text-align: center;
    min-height: 300px;
    margin-left: 20vw;
    margin-right: 20vw;
}

.sld h6 {
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

.sld q {
    line-height: 30px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: none !important;
    color: gray;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
}

.dot-container {
    text-align: center;
    /* padding: 20px; */
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.section3-grid {
    grid-area: section3-grid;
    background-image: linear-gradient(0deg, rgba(179, 179, 179, 0.9), rgba(179, 179, 179, 0.9)), url(../images/hammerLaw.jpg);
    background-position: 50% 50%;
    text-align: center;
}

.section3Areas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas: "area area area area";
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    height: auto;
}

.section3Areas img {
    width: 60px;
}

.section3Areas h6 {
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
}

.section3Areas button {
    margin-top: 50px;
}

.section3Areas p {
    margin-top: 30px;
}

.area {
    margin: 30px;
    max-width: 300px;
}

.section4-grid {
    grid-area: section4-grid;
    text-align: center;
    background-color: #191919;
    color: white;
}

.section4 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas: "section4-estagio1 section4-pic section4-estagio3" "section4-estagio2 section4-pic section4-estagio4";
    margin: 150px;
    margin-bottom: 60px;
}

.section4 h6 {
    font-family: 'Open Sans', sans-serif;
    ;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 20px;
}

.section4 .img-estagio {
    max-width: 60px;
    background-color: #478ac9;
    color: white;
    border-radius: 100%;
    border: 5px solid #478ac9;
    margin-top: 20px;
}

.section4-estagio1 {
    grid-area: section4-estagio1;
    border: 1px solid white;
    height: 300px;
    padding: 20px;
}

.section4-estagio2 {
    grid-area: section4-estagio2;
    border: 1px solid white;
    height: 300px;
    padding: 20px;
}

.section4-pic {
    grid-area: section4-pic;
}

.section4-pic img {
    object-fit: cover;
    height: 620px;
}

.section4-estagio3 {
    grid-area: section4-estagio3;
    border: 1px solid white;
    height: 300px;
    padding: 20px;
}

.section4-estagio4 {
    grid-area: section4-estagio4;
    border: 1px solid white;
    height: 300px;
    padding: 20px;
}

.section5-grid {
    grid-area: section5-grid;
    text-align: center;
    background-color: #E0E5EB;
}

.section5-grid h1 {
    margin: 40px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/**/

.carousel {
    width: 100%;
    margin: 0 auto;
    height: 600px;
    /* background-color: rgb(254, 249, 231, 0.4); */
    background-color: #E0E5EB;
}

.carousel-item {
    width: 500px !important;
    height: 250px !important;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
}

.carousel-item img {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 100%;
    margin: -120px auto 0;
    box-shadow: 0 0 0 5px #A6ACAF;
}

.carousel-item h1 {
    font-size: 20px;
    color: #444;
    font-weight: 800;
    margin-bottom: 5px;
}

.carousel-item h2 {
    font-size: 14px;
    color: rgb(81, 90, 90);
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
}

.profile-bio {
    font-size: 14px;
    color: grey;
    line-height: 1.7;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section6-grid {
    grid-area: section6-grid;
    text-align: center;
    background-image: linear-gradient(#404040, #1a1a1a);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.section6-grid h1 {
    margin: 50px;
    color: white;
}

.section6Top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "section6-address section6-phone section6-email";
    margin: 100px;
}

.section6Top h4 {
    font-size: 4em;
}

.section6Top h6 {
    font-weight: 800;
    margin: 20px;
    font-size: 20px;
}

.section6Top p {
    line-height: 30px;
}

.section6-address {
    grid-area: section6-address;
}

.section6-phone {
    grid-area: section6-phone;
}

.section6-email {
    grid-area: section6-email;
}

.section6Down {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "section6-form section6-map";
    margin: 50px;
    margin-top: 100px;
}

.section6Down h3 {
    margin-bottom: 40px;
}

.section6-form {
    grid-area: section6-form;
    margin: 0 auto;
}

.contato-form {
    color: black;
}

#mensagem-form {
    height: auto !important;
    margin-top: 0 !important;
}

.section6-map {
    grid-area: section6-map;
    text-align: justify;
    /* text-align: center; */
}

.section6-map p {
    max-width: 600px;
}

.social-medias-Footer {
    display: none;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

/* Placeholders */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gray;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: gray;
}

/* MEDIA QUERIES */

@media (max-width: 1358px) {
    .section3Areas {
        margin-left: 150px;
        margin-right: 150px;
    }
    .section6Down {
        margin: auto;
    }
    .section6Down iframe {
        width: 90%;
    }
    .section6-form {}
    .section6-map p {
        width: 90%;
    }
}

@media (max-width: 1264px) {
    .section3Areas {
        margin-right: auto;
        margin-left: auto;
    }
    q {
        margin: 0 auto;
    }
}

@media (max-width: 1220px) {
    nav {
        text-align: center;
    }
    .logo {
        margin-left: 85px;
    }
    .checkbtn {
        display: block !important;
        margin: 10px;
        padding: 20px;
    }
    #menu-ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 75px;
        left: -100%;
        text-align: center;
        transition: all .7s;
        background-color: rgba(10, 10, 10, 0.9) !important;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    nav ul li a {
        color: white;
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
        font-size: 25px;
        font-weight: bold;
        background: rgb(169, 169, 169, 0);
        padding: 10px;
    }
    nav a:hover {
        background: none;
    }
    #check:checked~ul {
        left: 0;
    }
    .section1-grid {
        width: 100vw;
    }
    .section3Areas {
        margin: 0 auto;
    }
}

@media (max-width: 1126px) {
    .section2-pic {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.2fr 0.5fr 0.5fr 0.2fr 0.5fr 0.5fr;
        gap: 1px 1px;
    }
    .section2pic-picture {
        grid-area: 4 / 2 / 8 / 7;
    }
    .section2pic-picBack {
        grid-area: 3 / 3 / 7 / 8;
    }
    .section6-map {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    .section6-map p {
        text-align: justify;
        width: auto;
        margin: 20px;
    }
}

@media (max-width: 1024px) {
    .section1-grid h1 {
        font-size: 4em;
    }
    .section1-grid h4 {
        font-size: 2em;
    }
    .section1-grid h6 {
        font-size: 1em;
    }
    .section1-grid {
        height: auto;
    }
    .section4-grid button {
        margin: 50px;
    }
    .section4 {
        margin: 50px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .section6-map {
        margin: 0 auto;
        text-align: center;
    }
    .section6-map p {
        text-align: justify;
        padding: 0;
        margin: 0 auto;
        max-width: 40vw;
    }
    .section6-map iframe {
        margin: 0 auto;
        padding: 0;
        max-height: 20vh;
    }
    .section6Top {
        margin: 50px;
    }
    .section6-form form {
        margin: 0 auto;
    }
    .section6-form input {
        max-width: 40vw;
    }
    .section6-form textarea {
        max-width: 40vw;
    }
}

@media (max-width: 937px) {
    .section3Areas {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        gap: 50px 0px;
        grid-template-areas: "area area" "area area";
        margin: 20px;
    }
    .area {
        max-width: auto;
        margin: 0 auto;
    }
}

@media (max-width: 720px) {
    .grid-container {
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.4fr 0.7fr 0.5fr 0.5fr 0.4fr 0.6fr;
    }
    .section1-grid h6 {
        font-size: 0.9em;
    }
    .section2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.8fr;
        gap: 1px 1px;
        grid-template-areas: "section2-pic" "section2-info";
    }
    .section2-pic {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr 0.1fr 0.1fr;
        grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr;
        gap: 1px 1px;
        grid-area: section2-pic;
    }
    .sld {
        margin-left: 20px;
        margin-right: 20px;
    }
    .section6Top {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        gap: 1px 1px;
        grid-template-areas: "section6-address section6-phone" "section6-email section6-email";
    }
    .section6Down {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr;
        gap: 50px 1px;
        grid-template-areas: "section6-form" "section6-map";
    }
    .section6Down form {
        width: 100%;
        margin: 0 auto;
    }
    .section6Down input {
        max-width: 100vw;
        width: 100%;
    }
    .section6Down textarea {
        max-width: 100vw;
        margin: 0;
    }
    .section6-map p {
        max-width: 100vw;
        margin: 40px;
    }
    .section6-map iframe {
        max-height: 400px;
    }
    .section6-grid h4 {
        font-size: 2em;
    }
    .social-medias {
        display: none;
    }
    .social-medias-Footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }
    .social-medias-Footer ul {
        display: flex;
        flex-direction: row;
    }
    .social-medias-Footer ul li {
        margin: 20px;
    }
    .social-medias-Footer ul li a {
        font-size: 3em;
    }
}

@media (max-width: 650px) {
    .section3-grid {
        justify-content: center;
        text-align: center;
    }
    .section3Areas {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.8fr;
        width: 100%;
        gap: 50px 0px;
        grid-template-areas: "area area" "area area";
        margin: 0 auto;
    }
    .area {
        margin: 10px;
        padding: 0;
        justify-content: center !important;
        /* height: auto;
        width: auto; */
    }
    .area p {
        max-width: 190px;
        margin: 0 auto;
    }
    .section4 {
        margin: 20px;
    }
}

@media (max-width: 570px) {
    nav ul li a {
        padding: 0;
    }
    nav ul li {
        line-height: 50px;
    }
    .grid-container {
        grid-template-rows: 0.5fr 0.8fr 0.4fr 0.4fr 0.3fr 0.5fr;
    }
    .section2 {
        grid-template-rows: 0.5fr 0.5fr;
    }
    .section4-estagio1 {
        padding: 0;
    }
    .section4-estagio2 {
        padding: 0;
    }
    .section4-estagio3 {
        padding: 0;
    }
    .section4-estagio4 {
        padding: 0;
    }
    .section6-form form {
        margin: 0 auto;
    }
    .section6-form form input {
        max-width: 80vw;
        margin: 0 auto;
    }
    .section6-form form textarea {
        max-width: 80vw;
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-rows: 0.3fr 0.5fr 0.4fr 0.4fr 0.4fr 0.5fr;
    }
    h1 {
        font-size: 3em !important;
    }
    h4 {
        font-size: 1.3em !important;
    }
    .sld {
        min-height: 400px;
    }
    .section3Areas p {
        font-size: 12px;
        margin: 25px;
        line-height: 22px;
    }
    .section4-grid h6 {
        font-size: 12px;
        margin: 25px;
        line-height: 30px;
    }
    .section4-pic {
        display: none;
    }
    .section4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px 25px;
        grid-template-areas: "section4-estagio1 section4-estagio3" "section4-estagio2 section4-estagio4";
        margin: 25px;
        margin-top: 50px;
        background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/rsz_student-849825_1920.jpg);
    }
    .section4 p {
        font-size: 12px;
        margin: 25px;
        line-height: 22px;
    }
    .carousel {
        min-height: 700px;
        width: 100vw !important;
    }
    .carousel h1 {
        font-size: 1.5em !important;
    }
    .carousel-item {
        min-height: 400px;
        max-width: 100vw;
        margin: 0 auto;
    }
    .carousel-item p {
        max-width: 60vw;
        padding: 0;
        margin: 0 auto;
    }
    .carousel .carousel-item {
        /* width: 90vw !important; */
    }
}

@media (max-width: 435px) {
    .carousel-item {
        /* margin-left: 9vw; */
    }
}

@media (max-width: 400px) {
    .grid-container {
        grid-template-columns: 100%;
        /* grid-template-rows: 1fr 1fr 0.4fr 0.4fr 0.4fr 0.5fr; */
    }
    .grid-container h1 {
        font-size: 2em !important;
    }
    .section2 {
        margin: 20px;
    }
    .sld h6 {
        /* font-size: 1.5em !important; */
        text-align: center;
        font-size: 16px;
    }
    .sld {
        min-height: 500px;
    }
    .sld q {
        margin: 20px;
    }
    .section3Areas {
        grid-template-columns: 50% 50%;
        width: 100%;
        gap: 50px 0px;
        grid-template-areas: "area area" "area area";
        margin: 0 auto;
    }
    .section4 p {
        margin: 5px;
    }
    .carousel-item {
        /* margin-left: 15vw; */
    }
}

@media (max-width: 360px) {
    .carousel-item {
        /* margin-left: 20vw; */
    }
}

@media (max-height: 650px) {
    nav ul li a {
        line-height: 27px;
    }
}